{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<p class="govuk-body">
  Step 6 of 6. Check your answers
</p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['full-name']}}
          
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/personal-details1">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['email']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/personal-details2">
              Change
              <span class="govuk-visually-hidden"> Email Address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Username
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['username']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/personal-details2">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home Address
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data ['home-address']}}</p>
            <p>{{data ['postcode']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/personal-detaisl3">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred method of contact
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['contact-method']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/personal-details2">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Fitness details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['dob1']}}/{{data ['dob2']}}/{{data ['dob3']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/fitness-details/date-birth">
              Change
              <span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weight
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['weight1']}}
            {{data ['weight2']}}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Height
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['height1']}}
            {{data ['height2']}}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Health conditions
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['health-condition']}}
            <br>
            {{data ['more-detail']}}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
</dl>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">    
        <h2 class="govuk-heading-m">Motivations and goals</h2>
    
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How often do you exercise?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['activity-level']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Please tell us what motivates you to do exercise or prevents you from exercising regularly.
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['with-hint']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What do you hope to achieve by using this service?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['goals']}}
            <br>
            {{data ['other-info']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">Exercise and reward preferences</h2>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How do you like to exercise?
          </dt>
          <dd class="govuk-summary-list__value">
           {{data ['exercise']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          What type of reward(s) would you like to receive?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['rewards']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">    
        

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">Support information</h2>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Would you like information on healthy habits?
          </dt>
          <dd class="govuk-summary-list__value">
           {{data ['healthy-habits']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Would you like to receive infromation about support groups?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['would-you-like-information-on-support-groups-and-networks']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
