{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your responses before submitting</h1>
<!-- Sections start here -->
      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['full-name']}}
          
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details1">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['email']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details2">
              Change
              <span class="govuk-visually-hidden"> Email Address</span>
            </a>
          </dd>
        </div>
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home Address
          </dt>
          <dd class="govuk-summary-list__value">
            <p>{{data ['home-address']}}</p>
            <p>{{data ['postcode']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-detaisl3">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred method of contact
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['contact-method']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="personal-details2">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Fitness details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          
          
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weight
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['height1']}}
          

          </dd>
          
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
</dl>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">  
        <h2 class="govuk-heading-m">Motivations and goals</h2>
    
        <div class="govuk-summary-list__row">

          <dt class="govuk-summary-list__key">
            How often do you exercise?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['activity-level']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What prevents you from exercising?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['with-hint']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What are you aiming for through taking part?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['goals']}}
            <br>
            {{data ['other-info']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">Exercise and reward preferences</h2>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Select the type of exercises you enjoy 
          </dt>
          <dd class="govuk-summary-list__value">
           {{data ['exercise']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          What type of reward would you like to receive?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['what-type-of-reward-would-you-like-to-receive']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">    
        

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">Support information</h2>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Would you like to receive information about support groups?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['would-you-like-information-on-support-groups-and-networks']}}
          </dd>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"></dt>
            
                <span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
      </dl>

      
      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>

      </form>

    </div>
  </div>
{% endblock %}
