{% extends "layout.html" %}

{% block pageTitle %}
Fitness details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="weight">Back</a>
{% endblock %}

{% block content %}

<p class="govuk-body">
  Step 2 of 6. Fitness details
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="health-question" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Calculate your BMI 
            </h1>
          </legend>
          <div class="govuk-!-padding-bottom-3"></div>
          <p class="govuk-body">Please enter your current height and weight to calculate your body mass index.</p>
            
          
          <div class="govuk-!-padding-bottom-3"></div>
          <h3 class="govuk-heading-m">Height</h3>
          <div id="event-name-hint" class="govuk-hint">
            Feet
          </div>
          
          <div class="govuk-form-group">
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="height" name="height1" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">ft</div>
            </div>
          </div>
          
          <a class="govuk-link" href="#">Switch to cm</a>
          </div>
          <div class="govuk-!-padding-bottom-2"></div>
          <h3 class="govuk-heading-m">Weight</h3>
          <div id="event-name-hint" class="govuk-hint">
            Pounds
          </div>
          <div class="govuk-form-group">
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="height" name="height1" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">lbs</div>
            </div>

            <a class="govuk-link" href="#">Switch to </a>
          </div>
  
          <div class="govuk-!-padding-bottom-3"></div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
