{% extends "layout.html" %}

{% block pageTitle %}
Fitness details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="goals">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="level-activity" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Enter your weight
            </h1>
          </legend>
          <div class="govuk-!-padding-bottom-3"></div>
          <p class="govuk-hint">You can refer to this later to keep track of your progress.</p>
          
          <div class="govuk-!-padding-bottom-3"></div>
          <div id="event-name-hint" class="govuk-hint">
            Pounds
          </div>
          <div class="govuk-form-group">
            <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="height" name="height1" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">lbs</div>
            </div>
            <div class="govuk-!-padding-bottom-2"></div>

            <a class="govuk-link" href="#">Switch to kg</a>
          </div>
  
          <div class="govuk-!-padding-bottom-3"></div>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Skip for now
            </button>
          </div>
        
    </form>
  </div>
</div>

{% endblock %}
