{% extends "layout.html" %}

{% block pageTitle %}
Fitness details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="health-question">Back</a>
{% endblock %}

{% block content %}

<p class="govuk-body">
  Step 2 of 6. Fitness details
</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="motivation" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How often do you do exercise? 
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            This information will help us understand better your current exercise routines and tailor content and recommendations accordingly
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="activity-level-1" name="activity-level" type="radio" value="Few times a week">
              <label class="govuk-label govuk-radios__label" for="activity-level-1">
                Few times a week
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="activity-level-2" name="activity-level" type="radio" value="Once a week">
              <label class="govuk-label govuk-radios__label" for="activity-level-2">
                Once a week
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="activity-level-3" name="activity-level" type="radio" value="I usually don't do exercise">
              <label class="govuk-label govuk-radios__label" for="activity-level-3">
                I usually don't do exercise
              </label>
            </div>
          </div>
        </fieldset>

      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>

</div>

{% endblock %}
