{% extends "layout.html" %}

{% block pageTitle %}
Personal Details 3
{% endblock %}

{% block beforeContent %}
<a href="personal-details2" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
              <form class="form" action="personal-details4" method="post">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Your address
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
  </div>

</fieldset>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I do not live in the UK
    </span>
  </summary>
  <div class="govuk-details__text">
  If you do not live in the UK you can not use this service
  </div>
</details>


<button class="govuk-button" data-module="govuk-button">
  Find address
</button>

{% endblock %}
