{% extends "layout.html" %}

{% block pageTitle %}
Personal Details 4
{% endblock %}

{% block beforeContent %}
<a href="personal-details3" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<p class="govuk-body">
  Step 1 of 6. Personal details
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
              <form class="form" action="weight" method="post">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Your address
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Choose your address
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="53 Hippoland, Leeds, L1234">53 Hippoland, Leeds, L1234</option>
      <option value="54 Hippoland, Leeds, L1234" selected>54 Hippoland, Leeds, L1234</option>
      <option value="55 Hippoland, Leeds, L1234">55 Hippoland, Leeds, L1234</option>
      <option value="56 Hippoland, Leeds, L1234">56 Hippoland, Leeds, L1234</option>
    </select>
  </div>

</fieldset>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I can not find my address
    </span>
  </summary>
  <div class="govuk-details__text">
  If you can not find your address please contact us here
  </div>
</details>


<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

{% endblock %}
