{% extends "layout.html" %}

{% block pageTitle %}
Fitness details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="height">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="govuk-label govuk-radios__label">Do you have a health condition?</a>
      </li>
      <li>
        <a href="govuk-label govuk-radios__label">Please select an option below.</a>
      </li>
    </ul>
  </div>
</div>

<p class="govuk-body">
  Step 2 of 6. Fitness details
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="health-question" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have any health conditions?
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            Please specify any health conditions you might have that affect physical activity. For example, asthma
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="health-condition-yes" name="health-condition" type="radio" value="Yes" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-hint" for="more-detail">
                  Please specify your health condition
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="health-condition-no" name="health-condition" type="radio" value="No" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
