{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-form-group">
  </fieldset>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What are your goals by using this service?
        </h1>
      </legend>
      <div id="countries-hint" class="govuk-hint">
        If you have more than one goal, please select all options that are relevant to you
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="countries" name="countries" type="checkbox" value="france">
          <label class="govuk-label govuk-checkboxes__label" for="countries">
            Lose weight
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="countries-2" name="countries" type="checkbox" value="portugal">
          <label class="govuk-label govuk-checkboxes__label" for="countries-2">
            Gain muscle
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="countries-3" name="countries" type="checkbox" value="spain">
          <label class="govuk-label govuk-checkboxes__label" for="countries-3">
            Stay fit
          </label>
        </div>
        <div class="govuk-checkboxes__divider">or</div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
          <label class="govuk-label govuk-checkboxes__label" for="countries-5">
            Other goal
          </label>
        </div>
      </div>
  
    </fieldset>
  </div>


</div>
<button class="govuk-button" data-module="govuk-button">
  Continue
</button>
{% endblock %}
