{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/reward-preferences">Back</a>
{% endblock %}

{% block content %}

<p class="govuk-body">
  Step 5 of 6. Support information
</p>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class"form" action="http://localhost:3000/additional-support-groups" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Would you like information on healthy habits?
        </h1>
      </legend>
        <div id="nationality-hint" class="govuk-hint">
          This includes but is not limited to healthy eating.
        </div>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="would you like information on healthy habits" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

<br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">

      </div>
    </div>
    <br>
                  <br>

            
                </div>
                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>
                </form>
              </fieldset>
  </fieldset>
</div>

{% endblock %}
