{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
<a href="personal-details1.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<p class="govuk-body">
  Step 1 of 6. Personal details
</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
              <form class="form" action="/personal-details3" method="post">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Please enter your Email Address and a Username and Password
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="email">
      Email Address 
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="text" >
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="username">
      Username
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="username" name="username" type="text" >
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="password">
      Password 
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="text" >
  </div>

</fieldset>

<button class="govuk-button" data-module="govuk-button">
  Next
</button>

</form>
</div>
</div>

{% endblock %}
