{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<a href="start.html" class="govuk-back-link">Back</a>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What is your full name?
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Full Name
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
  </div>
  <button class="govuk-button" data-module="govuk-button">
    Next
  </button>
</fieldset>



{% endblock %}
