{% extends "layout.html" %}

{% block pageTitle %}
  Motivations
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/fitness-details/level-activity">Back</a>
{% endblock %}

{% block content %}

<p class="govuk-body">
  Step 3 of 6. Motivation and goals
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/motivation-and-goals/goals" method="post">
      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="with-hint">
            What are some of the reasons why you do or do not exercise regularly?
            </label>
          </h1>
          <div id="with-hint-hint" class="govuk-hint">
            Please tell us what motivates you to do exercise or prevents you from exercising regularly
          </div>
          <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
        </div>
        <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 200 characters
        </div>

      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
